<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<appSettings>
		<add key="DefaultBackupPath" value="" />
		<add key="DefaultBackupSearchPath" value="" />
		<add key="DefaultCompress" value="false" />

		<add key="AutomateDestinationPath" value="false" />
		
		<add key="AutoVerifyBackupIntegrity" value="false" />
		
		<add key="LastBackupInfo" value="No backup performed yet." />
	</appSettings>
</configuration>